body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 18px;
	line-height: 34px;
	color: white;
	background: url("../images/pics.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: 100% 100%;
	-o-background-size: cover;
	background-size: cover;
  }

h1, p {
	margin-bottom: 20px;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}
h1, #game {
	font-size: 30px;
	line-height: 49px;
	border-bottom: 3px solid #ddd;
	padding-bottom: 20px;

}
#game {
	float: none;
	position: absolute;
	top: 20%;
	left: 20%;
	width: 800px;
}
div{
	margin: 20px;
	padding: 10px;
}
#brain, .img-fluid {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 20%;
	left: 60%;
}